<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Website</title>
        
        <!--stylesheet-->
        <link rel="stylesheet" href="css/xmasStyle.css">

      

        <!--external font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">

    </head>
    <body>
        <a href= "Home_Page.html" >       
            <!--<img src="images\homeIcon.png" class="fixed-top-left">-->
        </a>

        <div> <!--TJ-->
            <h1>
                Merry Christmas from TeeJae
            </h1>
            
            <div class="image-container">
            <!--<img src="images\xmasTJ.jpg"!-->
            </div>

           <h2>
               TeeJae:
           </h2>
   
           <p>
               "s
           </p>
        </div>

        <div id = "btnInt">
        <a href ="Page_2.html">
            <button class="button-92" role="button" id="small-button">
                Back
            </button>
        <!--</a>
        <a href="xmasPage4HTML.html"
            <button class="button-92" role="button" id="small-button">
                Next
            </button>
        </a>-->
        </div>
    </body>
</html>
