<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/xmasStyle.css">
    
    <!-- External font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
</head>
<body>
    <a href= "xmasHomeHTML.html" >       
        <img src="images\homeIcon.png" class="fixed-top-left">
    </a>

    <div> <!-- Son Kids Cork Cody -->
        <h1>
            Merry Christmas
        </h1>
        <h1>
            from
        </h1>
        <h1>
            Sonie, The Kids,
        </h1>
        <h1>
            Cork & Cody
        </h1>
        
        <div class="image-container">
            <img src="images\xmasLS&H&C.jpg">
            <img src="images\xmasQ&CO.jpg">
        </div>
   
        <h2>
            !!!person:
        </h2>
        <p>
            "!!!words"
        </p>

        <h2>
            !!!person:
        </h2>
        <p>
            "!!!words"
        </p>

        <h2>
            !!!person:
        </h2>
        <p>
            "!!!words"
        </p>
    </div>
    
    <div id="btnInt">
        <a href="xmasPage4HTML.html">
            <button class="button-92" role="button" id="small-button">
                Back
            </button>
        </a>
        <a href="xmasPage6HTML.html">
            <button class="button-92" role="button" id="small-button">
                Next
            </button>
        </a>
    </div>
</body>
</html>
