<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Website</title>
        
        <!--stylesheet-->
        <link rel="stylesheet" href="css/xmasStyle.css">

      

        <!--external font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">

    </head>
    <body>
        <a href= "xmasHomeHTML.html" >       
            <img src="images\homeIcon.png" class="fixed-top-left">
        </a>

        <div> <!--animals-->
            <h1>
                Merry Christmas 
            </h1>

            <h1>
                from the pets
            </h1>
            <H1>
                to Ms. Petz
           </h1>

           <div class="image-container"> 
                <div class="image-text"> 
                    <img src="images\animals\xmasImgCatB.jpg"> 
                    <p>
                        Bentley
                    </p> 
                </div> 
                <div class="image-text"> 
                    <img src="images\animals\xmasImgCatSey.jpg" > 
                    <p>
                        Seymour
                    </p> 
                </div> 
                <div class="image-text"> 
                    <img src="images\animals\xmasImgSqueak.jpg"> 
                    <p>
                        Squeak
                    </p> 
                </div> 
                <div class="image-text"> 
                    <img src="images\animals\xmasImgDogL.jpg"> 
                    <p>
                        Lexi
                    </p> 
                </div> 
              
                <div class="image-text">
                     <img src="images\animals\xmasImgDogB.jpg"> 
                     <p>Barrette</p> 
                    </div> 
                    <div class="image-text"> 
                        <img src="images\animals\xmasImgDogT.jpg"> 
                        <p>Tikka</p> 
                </div>  
                <div class="image-text"> 
                    <img src="images\animals\xmasImgCats.jpg" > 
                    <p>
                        Lapua & Calypso
                    </p> 
                </div> 
            </div>


   
           <p>
               Of course all the animals are thankful for all that you do for them. You're great at taking care of them and they love you for it.
           </p>
        </div>

        <div id = "btnInt">
        <a href="xmasPage5HTML.html">
            <button class="button-92" role="button" id="small-button">
                Back
            </button>
        </a>
        <a href="xmasPage2HTML.html">
            <button class="button-92" role="button" id="small-button">
                Next
            </button>
        </a>
        </div>
    </body>
</html>
