<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Website</title>
        
        <!--stylesheet-->
        <link rel="stylesheet" href="css/xmasStyle.css">

      

        <!--external font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">

    </head>
    <body>


        <div id = "home">
            <h1>Merry Christmas Mom!</h1>  <!--FIX ME-->
            <div class="image-container">
                
              <!-- <img src="images\xmasMe.jpg"> -->
                
            </div>
            <p>
               Merry Christmas to my outstanding mohter. 
            </p>
            <p>
               Thank you for all that you do. 
            </p>
            <p>
               I couldn't ask for a better mom.
            </p>
            <a href="xmasPage2HTML.html">
                <div class="container">
                    <button class="button-92" role="button">
                        See Who Says Merry Christmas?
                    </button>
                </div>
            </a>
        </div>
    </body>
</html>
